---js
{
  layout: "layouts/project.njk",
  pagination: { data: "projectSets.personal", size: 1, alias: "project" },
  permalink: (data) => `/en/projects/${data.project.slug}/`,
  lang: "en",
  eleventyComputed: {
    title: (data) => data.project.en.title,
    description: (data) => data.project.en.summary
  }
}
---
