---
permalink: /feed/en.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name.en }} — Notes</title>
  <subtitle>{{ site.tagline.en }}</subtitle>
  <link href="{{ site.url }}/feed/en.xml" rel="self"/>
  <link href="{{ site.url }}/en/"/>
  <updated>{{ collections.notesEn | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/en/</id>
  <author><name>{{ site.name.en }}</name></author>
  {%- for note in collections.notesEn %}
  {%- set absUrl = site.url + note.url %}
  <entry>
    <title>{{ note.data.title }}</title>
    <link href="{{ absUrl }}"/>
    <updated>{{ note.date | dateToRfc3339 }}</updated>
    <id>{{ absUrl }}</id>
    {%- if note.data.summary %}<summary>{{ note.data.summary }}</summary>{% endif %}
    <content type="html">{{ note.templateContent | htmlToAbsoluteUrls(absUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
